.logo img{
width:100%;
}
.logo{
    max-width:80px;
}
.search{
    border-radius: 8px;
    border: 1px solid orangered;
}
.login{
    color:black;
    text-decoration: none;
}
.singup{
    color: black;
    text-decoration: none;
}