

body{
    font-family:'Times New Roman', Times, serif;
    overflow-x: hidden;
}

.logo img{
width:100%;
}
.logo{
    max-width:80px;
}
.search{
    border-radius: 8px;
    border: 1px solid orangered;
}
.login{
    color:black;
    text-decoration: none;
    font-size: 10px;
}
.singup{
    color: black;
    text-decoration: none;
    font-size: 10px;
}

li a{
    text-decoration: none;
    color: black;
}  
li{
    cursor: pointer;
}
.card:hover{
    transition:1s;
    transform: scale(1.1);
}
.addto:hover{
    transition: 1s;
    transform: scaleX(1.2);

}
.input{
    border-radius: 10px;
    border-color: orangered;

}
.form{
    margin:60px auto;
    width:90%;

}
.form2{
    border: 2px solid black;
    width: 70%;
    margin: 50px auto;
    border-radius: 10px;
    border-color: orangered;
}
    

.contact{
    border: 2px solid black;
    width: 50%;
    margin: 50px auto;
    border-radius: 10px;
    border-color: orangered;

}
.messege{
    width: 100%;
}
.submit{
    width: 100%;
    text-align: center;
    color:white;
    border-radius: 10px;
    background-color:skyblue;
}